<div class="container">
    <div class="row">
        <div class="col-lg-6 mt-5 study">
            <img src="../../assets/img/banner-CadStudy.jpg" class="img-fluid">
        </div>
        <div class="col-lg-6 mt-5 d-flex flex-column justify-content-center study-letter">
            <h2>Bem-vindo ao CadStudy</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, obcaecati! Harum numquam cumque eos
                vitae asperiores inventore architecto velit optio ratione ex? Doloribus officiis iusto nisi
                recusandae aliquam ratione accusantium?</p>
                <div> 
                   <a [routerLink] = "['/register']"> <button type="button" class="btn btn-primary">Cadastrar estudante</button></a>
                   <a href=""> <button type="button" class="btn btn-primary ml-2">Ver estudantes cadastrados</button></a>
                    
                </div>
        
        </div>
    </div>
</div>